@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

.sidebar {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


//------------------------------

    & * {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 14pt;
        text-decoration: none;
        list-style: none;
    }

    & ul {
        width: 120px;

        
    }

    & a {
        display: flex;
        color: white;

        & span {
            margin-left: 20px;
        }

        &:hover {
            color: #FD670E;
        }
    }

    & li {

        margin-bottom: 25%;
        position: relative;


        &:after {
            position: absolute;
            bottom: -8px;
            left: -15px;
            display: block;
            content: "";
            height: 1px;
            width: 120%;
            background-color: #4a4a4a; 
        }

        &:nth-child(2) svg {
            margin-left: 1px;
            margin-right: 1px; 
        }
    }
}


.logo {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: -110px;
}