.lang-header {
    text-transform: uppercase;
    font-size: 17pt;
    font-weight: 700;
    position: relative;
    width: 100%;

    &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 30px;

    }
}

.languages-container {
    width: 100%;
}

.languages {
    width: auto;
}