.circle {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.active-circle {
    background-color: #3399ff;

}


.inactive-circle {
    background-color: #fff;
}

.level-container {
   display: flex;
   justify-content: space-between;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-bottom: #aaa dashed 1px;
}

.circles {
    display: flex;
    padding: 7px;
    padding-right: 0;
}

.language-title {
    font-weight: 700;
    margin-bottom: 5px;
}

.level-title {
    color: #aaa;
}


